In [11]:
print("Meu codigo no jupyter")

Meu codigo no jupyter

instalar no terminal

pip install pandas

pip install openpyxl

In [12]:
import pandas as pd

tabela = pd.DataFrame(
    {
        "Nome": 
            ["Felipe", "Josy"],
        "Idade": 
            [32, 33]
    }
)

display(tabela)

     Nome  Idade
0  Felipe     32
1    Josy     33